<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>

     <h1> <a href="/interviews">All Upcoming Interviews</a></h1>
     <h2> Welcome to Job Blog - log in to add your upcoming interviews, 
      view others' interviews, and share interview tips. </h2>
      
       
       
       
       
        <img src="https://img.freepik.com/premium-vector/illustration-vector-graphic-cartoon-character-blogging_516790-1495.jpg"
         alt="computer" width="500" height="500">
  </body>
</html>
