<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <a href="/interviews">All Upcoming Interviews</a>
      <a href="/interviews/new">Add Upcoming Interviews</a>
     
    
  </body>
</html>
