<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <a href="/interviews">All Upcoming Interviews</a>
      <p> Welcome to Job Blog! A site where you can talk about your upcoming interviews and ask for tips! Please log in to add an upcoming interviews or share tips to others!</p>
  </body>
</html>
