* {
  box-sizing: border-box;
  font-family: Helvetica;
 
}


.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

body{
  
  text-align: center;
  background-color: pink;
  font-size: 20px;
}

#list a:hover {
  background-color: yellow;
}

#list {
text-align: center;


}

#new {
  font-size: 20px;
  display: grid;
  grid-gap: 15px;


}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
  text-align: center;
}

#add-tip-form *{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}



button:hover{
 background-color: yellow;
}

